* {
    text-align: center;
    font-family: monospace; 
}
body {
    background-color: #f5f5dc;
    width: 100%;
}
h1 {
    background-color: #f8de7e;
    border: #f8de7e;
    padding: 15px 5px;
    border-radius: 25px;
    color: #93c572;
    font-size: 120px;
    margin: 10px;
    display: block;
}
li {
    list-style: none;
    font-size: 40px;
    line-height: 75px;
}
#kimchi, #tofu, #dak {
    background-color: #93c572;
    padding: 20px;
    border-radius: 30px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.recipes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
a {
    color: #f8de7e;
    text-decoration: none;
}
a:hover, a:active {
    color:  #4f7942;
    text-decoration: none;
}

